<!-- Navigation -->

{% if page.url contains '/la/' %}
    {% assign location = '/la' %}
    {% assign la_nav = 'navbar-current-site' %}
    {% assign main_nav = 'navbar-other-site' %}
{% else %}
    {% assign main_nav = 'navbar-current-site' %}
    {% assign la_nav = 'navbar-other-site' %}
{% endif %}

<nav class="uk-navbar navbar-custom uk-width-1-1">

    <ul class="uk-navbar-nav uk-hidden-small">
        <li><a class="navbar-brand {{ main_nav }}" href="{{ site.baseurl }}/">{{ site.title }}</a></li>
        <li><a class="navbar-brand {{ la_nav }}" href="{{ site.baseurl }}/la">LA分部</a></li>
    </ul>

    <div class="uk-navbar-flip uk-hidden-small nav">
        <ul class="uk-navbar-nav">
            {% for dale in site.data.nav %}
                <li><a href="{{ site.baseurl }}{{ location }}{{ dale.href }}">{{ dale.title }}</a></li>
            {% endfor %}
        </ul>
     </div>

    <a href="#offcanvas" class="uk-navbar-toggle uk-visible-small" data-uk-offcanvas></a>
    <a class="uk-navbar-brand uk-navbar-center uk-visible-small" href="{{ site.baseurl }}/">{{ site.title }}</a>
</nav>

<div id="offcanvas" class="uk-offcanvas">
    <div class="uk-offcanvas-bar">
        <ul class="uk-nav uk-nav-offcanvas">
            {% for dale in site.data.nav %}
                <li><a href="{{ site.baseurl }}{{ location }}{{ dale.href }}">{{ dale.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
